vte-terminal {
    padding: 10px 10px 10px 10px;
}

.deadd-noti-center {
    font-family: "{{ .gtk.font }}";
    font-size: {{ .gtk.font_size }}px;
}

label.deadd-noti-center.noti-center.date {
	font-size: 45px;
}


