* {
    outline: none;
}
window {
    background-color: #2e3440;
    font-family: FiraCode Nerd Font;
}
#scroll {
    border: None;
    margin: -2px 0px;
}
#input image {
    color: rgba(0,0,0,0)
}
#input {
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    box-shadow: none;
    background-color: #2e3440;
    border: 5px solid #4c566a;
    border-radius: 0px;
}
#input:focus {
    background-color: #2e3440;
    margin-left: 10px;
    margin-right: 10px;
}
label {
    padding: 12px;
    color: #eceff4;
}
#outer-box {
    border: 10px solid #81a1c1;
}
#entry {
    margin-left: 20px;
}
#entry:selected {
    color: #eceff4;
    border: 2px solid #2e3440;
    background-color: #2e3440;
}
#text:selected {
    color: #a3be8c;
    background-color: #2e3440;
}
