ignore-empty-password
disable-caps-lock-text
image={{ .chezmoi.homeDir }}/.config/swaylock/locked.png
#color=2e3440
scaling=fill
font-size=20


inside-color=434c5e
inside-clear-color=434c5e
inside-wrong-color=434c5e
inside-ver-color=434c5e
key-hl-color=a3be8c
ring-color=81aca1c1
ring-clear-color=81a1c1
ring-wrong-color=bf616a
ring-ver-color=a3be8c
text-color=00000000
text-clear-color=00000000
text-ver-color=00000000
text-wrong-color=00000000
line-color=2e3440
separator-color=2e3440

#bf616a #434c5e #eceff4 #8fbcbb #81a1c1
#d08770 #b48ead #d8dee9 #4c566a #4c566a
#a3be8c #2e3440 #d8dee9 #4c566a #4c566a
#ebcb8b #ebcb8b #2e3440 #8fbcbb #ebcb8b

