PATH=$PATH:$HOME/bin
TERM=kitty
EDITOR=nvim
VISUAL=nvim
BROWSER=firefox

MOZ_ENABLE_WAYLAND=1 
MOZ_WAYLAND_USE_VAAPI=1

_JAVA_AWT_WM_NONREPARENTING=1

BEMENU_OPTS="--fn '{{ .terminal.font }} {{ .sway.font_size }}' --tf '#d8dee9' --hf '#81a1c1' --sf '#81a1c1' --scf '#81a1c1' --tb  '#2e3440' --fb '#2e3440' --hb '#2e3440' --nb '#2e3440'"
