anchor=top-right
font={{ .sway.font }} {{ .sway.font_size }}
background-color=#2e3440
text-color=#eceff4
width=350
margin=10,10,10
padding=10
border-size=2
border-color=#4c566a
border-radius=0
default-timeout=10000
group-by=summary

[grouped]
format=<b>%s</b>\n%b
