#################################################
#                    SWAY
#################################################


# Lancement automatique
exec /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec udiskie
exec mako
exec autotiling
exec nextcloud --background
exec mailnag
exec mpd

################################################
#                   STYLE
#################################################
output * bg {{ .chezmoi.homeDir }}/.config/sway/wallpaper.png fill
font "{{ .sway.font }}" {{ .sway.font_size }}px 
default_border pixel 2
titlebar_border_thickness 2
gaps outer 5
gaps inner 5

# Fenêtres 
# class                 border  backgr. text    indicator child_border
client.focused          #81a1c1 #434c5e #eceff4 #8fbcbb   #81a1c1
client.focused_inactive #81a1c1 #2e3440 #d8dee9 #4c566a   #4c566a
client.unfocused        #81a1c1 #2e3440 #d8dee9 #4c566a   #4c566a
client.urgent           #ebcb8b #ebcb8b #2e3440 #8fbcbb   #ebcb8b

# Thème GTK
exec_always {{ .chezmoi.homeDir }}/.config/sway/import-gsettings \
    gtk-theme:gtk-theme-name \
    icon-theme:gtk-icon-theme-name \
    cursor-theme:gtk-cursor-theme-name \
    font-name:gtk-font-name 

# Règles

# Assignements des fenêtres

# Focus souris
focus_follows_mouse yes

#################################################
#              FLOATING WINDOWS
#################################################
for_window [app_id="galculator"] floating enable
for_window [app_id="blueman-manager"] floating enable
for_window [app_id="pavucontrol"] floating enable
for_window [title="gtop"] floating enable, sticky enable, resize set 30 ppt 60 ppt

#################################################
#                 MAPPING
#################################################
# Clavier
input * {
    xkb_layout "{{ .keyboard.layout }}"
    xkb_variant "{{ .keyboard.variant }}"
}

# Souris
input "6127:24815:Lenovo_Bluetooth_Mouse" {
    pointer_accel -0.8
    }


# Touchpad
input "1739:52824:SYNA8008:00_06CB:CE58_Touchpad" {
       dwt enabled
       tap disabled
       natural_scroll enabled
       middle_emulation enabled
       pointer_accel 0.4
       scroll_factor 0.5
   }

# Touche principale (super)
set $mod Mod4

# Touches directionnelles (vimlike)
set $left h
set $down j
set $up k
set $right l


#################################################
#                 GÉNÉRAL
#################################################
# Terminal
set $term kitty
set $alacritty alacritty

# Lanceur 

set $bemenu bemenu-run --fn "{{ .terminal.font }} {{ .sway.font_size }}" \
    -p "  -" --tf "#d8dee9" --hf "#81a1c1" --sf "#81a1c1" --scf "#81a1c1" \
    --tb  "#2e3440" --fb "#2e3440" --hb "#2e3440" --nb "#2e3440" | \
    xargs swaymsg exec

#set $menu wofi --hide-scroll --allow-images | xargs swaymsg exec --
set $passmenu wofi-pass | xargs swaymsg exec --

for_window [app_id="^launcher$"] floating enable, sticky enable, resize set 30 ppt 60 ppt, border pixel 10
set $menu exec $alacritty --class=launcher -e env TERMINAL_COMMAND="kitty -e" sway-launcher-desktop

# Hibernation
 exec swayidle -w \
          timeout 3600 'swaylock -f' \
          before-sleep 'swaylock -f'

#################################################
#            RACCOURCIS CLAVIER
#################################################
# Terminal
bindsym $mod+Return exec $term

# Fermer une fenêtre
bindsym $mod+Shift+q kill

# Lanceur
bindsym $mod+space exec $menu
bindsym $mod+p exec $passmenu
bindsym $mod+d exec $bemenu

# Firefox
bindsym $mod+n exec MOZ_ENABLE_WAYLAND=1 firefox


# Capture d'écran 
bindsym print exec grim $(xdg-user-dir PICTURES)/$(date +'%s_grim.png')
bindsym Shift+print exec grim -g "$(slurp)" $(xdg-user-dir PICTURES)/$(date +'%s_grim.png')
    floating_modifier $mod normal

# Recharger la configuration de Sway
bindsym $mod+Shift+c reload

# Fermer session Sway 
bindsym $mod+Shift+e exec swaynag -t custom -m "Souhaitez-vous vraiment mettre fin à votre session Wayland ?" -b 'Oui, quitter Sway' 'swaymsg exit'

# Déplacer fenêtre 
bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right

# 
bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right

# Bureaux 
bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10

# Déplacer fenêtre vers un autre bureau 
bindsym $mod+Shift+1 move container to workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4
bindsym $mod+Shift+5 move container to workspace number 5
bindsym $mod+Shift+6 move container to workspace number 6
bindsym $mod+Shift+7 move container to workspace number 7
bindsym $mod+Shift+8 move container to workspace number 8
bindsym $mod+Shift+9 move container to workspace number 9
bindsym $mod+Shift+0 move container to workspace number 10

# Revenir au bureau précédent 
bindsym $mod+Tab workspace back_and_forth

# Split 
bindsym $mod+b splith
bindsym $mod+v splitv

# Style de fenêtre
bindsym $mod+m layout tabbed
bindsym $mod+t layout toggle split

# Plein écran 
bindsym $mod+f fullscreen

# Mode fenêtre
bindsym $mod+s floating toggle
bindsym $mod+Shift+s focus mode_toggle

# Move focus to the parent container
bindsym $mod+a focus parent

# Move focus to the child container
bindsym $mod+Shift+a focus child

# Move the currently focused window to the scratchpad
bindsym $mod+Shift+minus move scratchpad

# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+minus scratchpad show

# Redimensionner fenêtre
mode "resize" {
    bindsym $left resize shrink width 10px
    bindsym $down resize grow height 10px
    bindsym $up resize shrink height 10px
    bindsym $right resize grow width 10px

    bindsym Left resize shrink width 10px
    bindsym Down resize grow height 10px
    bindsym Up resize shrink height 10px
    bindsym Right resize grow width 10px

    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"

# Touches multimédia
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec pactl set-source-mute @DEFAULT_SOURCE@ toggle
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86MonBrightnessUp exec brightnessctl set +5%
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous
bindsym XF86Search exec bemenu-run

#################################################
#                 WAYBAR
#################################################
bar {
    swaybar_command waybar
    }
}


include /etc/sway/config.d/*
